<ion-content [fullscreen]="true">
  <img src="assets/header.avif" alt="">
  <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Matrix</ion-card-title>
        <ion-card-subtitle>Evento de tecnologia</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Imersão através da realidade virtual
      </ion-card-content>
    </ion-card>
    <ion-button color="success">Inscrever</ion-button>
    <p>
      <img src="assets/keanu.png" alt="">
    </p>

  </ion-content>
