ion-content::part(background){
  background-color: #0c110d;
}

#bemVindo{
  color: rgb(238, 238, 238);
  margin-left: 5%;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#subtitulo{
  color: rgb(226, 245, 220);
  margin-left: 5%;
}
